<h3>Edit Post</h3>

<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" id="title" class="form-control" value="{{post.title}}">    
    </div>

    <div class="form-group">
        <label for="file">Photo</label>
        <input name="file" id="file" type="file" class="form-control">    
    </div>

    <div class="form-group">
      
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control">
            {{#select post.category}}
                {{#each categories}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
        
    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" id="status" class="form-control">
            {{#select post.status}}
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>
            {{/select}}
        </select>
    </div>


    <div class="form-check">
        <label for="allowComments">
        <input name="allowComments" type="checkbox" id="allowComments" {{#if post.allowComments}} checked="checked" {{/if}}>
        Allow Comments</label>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" class="form-control">{{post.description}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Update Post</button>

</form>