<div class="col">
    <a href="/">
      <i class="bi bi-arrow-left">Back</i>
    </a>
  </div>{{!-- <h1>First Post</h1> --}}
<div class="row">
  
        <!-- Post Content Column -->
        <div class="col-lg-8">
          <!-- Title -->
          <h1 class="mt-4">{{post.title}}</h1>
          <!-- Author -->
          <p class="lead">by
            <a href="#">{{post.user.firstName}}</a>
          </p>
          <hr>
          <!-- Date/Time -->
          <p>Posted on {{generateDate post.date "MMMM Do YYYY"}}</p>
          <hr>
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="">
          <hr>
          <!-- Post Content -->
          <h4><b><u>Description </u></b></h4>
          <blockquote class="blockquote">
            <p class="mb-0"></p>
          </blockquote>
          <p>{{post.description}}</p>
          <hr>
          
        {{#if User}}

          {{#if post.allowComments}}

            <!-- Comments Form -->
            <div class="card my-4">
              <h5 class="card-header">Leave a Comment:</h5>
              <div class="card-body">
                <form action="/admin/comments" method="post">
                  <div class="form-group">
                    <textarea name="body" class="form-control" rows="3"></textarea>
                    <input type="hidden" name="id" value="{{post.id}}">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>

          
          {{else}}

           <h3>Comments are not allowed on this post. 
                </h3>  
                <br>
                <hr>
          {{/if}}
           {{else}}

           <h3>You need to login to comment. Please <a href="/login">Login</a></h3> 
           <br><hr>
        {{/if}}
        


        {{#each post.comments}}

          <!-- Single Comment -->
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{user.firstName}}</h5>
              {{body}}
            </div>
          </div>

          {{/each}}
            <hr>
          {{!-- <!-- Comment with nested comments -->
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <hr>
              <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>
              <hr>

              <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div> --}}

            {{!-- </div>
          </div> --}}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          {{> home/sidebar}}

        </div>

      </div>
